name: Generate GitHub Stats

on:
  schedule:
    - cron: "0 3 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Generate GitHub Stats
        uses: readme-tools/github-readme-stats-action@v1
        with:
          username: dannielbruno6
          show_icons: true
          theme: radical
          output_path: profile/stats.svg

      - name: Commit and Push
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@users.noreply.github.com"
          git add profile/stats.svg
          git commit -m "Update GitHub Stats" || exit 0
          git push
